* {
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5{
	text-transform: uppercase;
	color:#cecece;
}

body{
	height: auto;
	font-size: 12px;
	overflow-x: hidden; 
	font-family: Arial, Helvetica, sans-serif;
	color:#4e4b4a;
	background-color: #fff;
}

.portfolio_introductory{
	position: relative;
  text-align: center;
  color: white; 
}

.portfolio_introductory img{
	width:100%;
	height: 90vh;
	opacity: 0.65;
}

.portfolio_introductory .introduce {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 38px;
}

.portfolio_introductory .introduce h1 {
  color: #000;
  font-family: monospace;
  overflow: hidden; 
  border-right: .15em solid orange; 
  white-space: nowrap; 
  margin: 0 auto; 
  animation: typing 3.5s steps(30, end), blink-caret .5s step-end infinite;
}

.portfolio_content{
	float:left;
	width: 100%;
	height: auto;
	padding:20px 20px 20px 20px;
	border-bottom:2px solid #dedede;
	margin-bottom: 2%;
}

.portfolio_background{
	float: left;
	width: 30%;
	padding:10px 20px 10px 20px;
	border-right: 1px solid #dedede;
}

.portfolio_background .background_prose{
	width: 85%;
	border:1px solid #dedede;
	box-shadow:0px 2px 3px #dedede;
	padding: 20px 20px 20px 20px;
	margin:10% 7% 1.5% 4.5%;
}

.left_title{
	text-align: left;
	margin:4.5% 0% 1.5% 0%;
}

.experience_container{
	width: 100%;
	height: auto;
	padding:10px 10px 10px 0px;
}

.add_rule{
	margin:1.5% 0% 1.5% 0%;
	border-bottom:1px solid #ccc;
}

.experience_container p{
	margin-bottom:2%;
}

.experience_bullets{
	color:#000033;
	font-weight: lighter;
	margin-left: 2.5%;
}

.role{
	font-weight: bold;
}

.title,.project_title{
	text-align: center;
	margin-bottom: 1.5%;
}

.project_title{
	margin-top: 2.5%;
}

hr{
	width: 100%;
	border:unset;
	margin-top: 1.5%;
	margin-bottom: 2.5%;
	border-bottom:2px solid #dedede;
}

.skill_list{
	font-size:16px;
	margin-top: 5%;
	padding:20px 20px 20px 20px;
}

.reasons_list{
	font-size:16px;
	padding:10px 10px 10px 10px;
}

.reasons_list li{
	height: 25px;
}

.skill_list li{
	list-style: none;
	line-height: 45px;
	height: 45px;
	margin:1.5% 0% 1.5% 0%;
	padding:5px 5px 5px 35px;
	border:1px solid #dedede;
	box-shadow:0px 2px 3px #dedede;
	border-radius: 5px;
}

.portfolio_projects{
	height: auto;
	margin-bottom: 2%;
}

.project_content{
	float: left;
	width: 27%;
	margin:0.5% 0.5% 0.5% 0.5%;
	padding:20px 20px 20px 20px;
	border:1px solid #dedede;
	border-radius: 5px;
	box-shadow:0px 2px 3px #dedede;
}

.project1{
	margin-left:5%;
}

.project_description{
	font-size: 14px;
	line-height: 25px;
}

.project_description ul{
	padding:10px 20px;
}

.project_link{
	border:1px solid #34de43;
	box-shadow: 0px 2px 3px #34de43;
	border-radius: 5px;
	padding:10px 20px;
}

a{
	text-decoration: none;
}

.portfolio_footer{
	display: inline-block;
	width: 100%;
	margin-top: 2.5%;
	padding: 20px 20px 20px 20px;
	background-color: #dedede;
}

.portfolio_footer p{
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}